@font-face
{
    font-family: Poppins;
    src: url(fonti/Poppins/Poppins-Regular.ttf);
}

@font-face
{
    font-family: Poppins-Bold;
    src: url(fonti/Poppins/Poppins-Bold.ttf);
}

@font-face
{
    font-family: Amatic;
    src: url(fonti/amatic-bold.ttf);
}

html
{
    font-size: 0.625vw;
}

*
{
    padding: 0;
    margin: 0;
    font-family: Poppins, sans-serif;
    font-weight: 500;
}

/*Index html*/

/*prva stran - index*/

.zacetnastranindex
{
    height: 100vh;
    background-image: url(slike/index/DSC08142-41.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 20%;
}

.temnoindex
{
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
}

header
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 1);
    height: 7em;
}

header .logo
{
    margin-left: 1.5em;
    margin-top: 0.5em;
}

header .logo img
{
    width: 10em;
}

header ul
{
    display: flex;
    align-items: center;
}

header ul li
{
    margin-right: 2em;
    list-style: none;
    padding: 1.5em;
}

header ul li a
{
    position: relative;
    font-size: 1.6em;
    text-decoration: none;
    color: #B4B436;
    transition: all 1s;
    padding-bottom: 0.2em;
}

header ul li:not(:last-child) a::after
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0.1em;
    background-color: #B4B436;
}

header ul li:not(:last-child) a:hover::after
{
    width: 100%;
    transition: all 1s;
}

.search
{
    margin-right: 2em;
    display: flex;
    align-items: center;
    background-color: #B4B436;
    padding: 0.5em;
    border-radius: 2em;
    width: 18em;
}

.search input
{
    all: unset;
    padding: 0.5em 1em;
    border-radius: 2em;
    font-size: 1.3em;
    width: 100%;
    color: white;
}

.search input::placeholder
{
    color: white;
}

.search button
{
    all: unset;
    padding: 0.7em 0.7em;
    border-radius: 50%;
    cursor: pointer;
    display: flex;  
}

.search button:hover
{
    background-color: #DBBB92;
}

.gumbsearch i
{
    font-size: 1.3em;
    color: white;
}

.nadozadjemindex
{
    padding-top: 22em;
    text-align: center;
}

.nadozadjemindex h1
{
    font-family: Amatic, sans-serif;
    color: #DBBB92;
    text-align: center;
    font-size: 10em;
    letter-spacing: 0.2em;
}

.nadozadjemindex h2
{
    margin-top: 0.3em;
    font-family: Amatic, sans-serif;
    color: white;
    text-align: center;
    font-size: 3em;
    letter-spacing: 0.3em;
}

.nadozadjemindex p
{
    line-height: 1.6;
    margin-top: 8em;
    color: white;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    font-size: 1.3em;
}

.nadozadjemindex p span
{
    font-weight: 900;
    letter-spacing: 0.1em;
    color: #DBBB92;
}

.nadozadjemindex .gumbnadozadjem
{
    margin-top: 5em;
    padding: 1em 2.3em;
    background-color: #B4B436;
    border-radius: 3em;
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    transition: all 1s ease;
    animation: povecavazmanjsava 5s ease-in-out infinite;
}

@keyframes povecavazmanjsava
{
    0%, 100%
    {
        transform: scale(1);
    }

    50%
    {
        transform: scale(1.1);
    }
}

.nadozadjemindex .gumbnadozadjem span
{
    font-size: 1.2em;
}

.nadozadjemindex .gumbnadozadjem:hover
{
    background-color: #DBBB92;
}



/*druga stran - index*/

.drugastranindex
{
    height: 100vh;
    display: flex;
    align-items: center;
}

.vsebina
{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 39em;
    gap: 10em;
}

.vsebina .textdruga
{
    height: 100%; 
    display: flex;
    flex-direction: column;
    width: 30%;
    text-align: justify;
    justify-content: space-between;
}

.vsebina .textdruga .texta
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: auto;
}

.vsebina .textdruga h1 span
{
    font-family: Poppins-Bold;
    font-size: 2em;
    color: #B4B436;
}

.vsebina .textdruga h1
{
    font-family: Poppins-Bold;
    font-size: 1.5em;
}

.naslov h1 span
{
    transition: color 1s ease;
}

.vsebina .textdruga p
{
    font-size: 1.3em;
    margin-bottom: 1em;
}   

.vsebina .textdruga .texta .gumbveconas
{
    margin-top: 1.5em;
    padding: 1em 2.3em;
    background-color: #B4B436;
    border-radius: 3em;
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    transition: all 1s ease;
    width: fit-content;
}

.vsebina .textdruga .texta .gumbveconas span
{
    font-size: 1.2em;
}

.vsebina .textdruga .texta .gumbveconas:hover
{
    background-color: #DBBB92;
}

.vsebina .slikadruga img
{
    border-radius: 20em;
    width: 60em;
}

/*tretja stran - prvi del - index*/

.tretjastranprviindex
{
    height: 20vh;
}

.tretjastranprviindex .naslovi
{
    margin-top: 3em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
}

.tretjastranprviindex .naslovi .naslov a
{
    margin-left: 1.1em;
    margin-right: 0.4em;
    font-family: Poppins-Bold;
    color: black;
    text-decoration: none;
}

.tretjastranprviindex .crta .ikone 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #B4B436;
    height: 2em;
    border-radius: 1em;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.tretjastranprviindex .crta .ikone .ikona a
{
    display: block;
    padding: 2em 2.5em;
    background-color: #DBBB92;
    border-radius: 20em;
    transition: all 1s ease;
    color: black;
}

.tretjastranprviindex .crta .ikone .ikona a:hover
{
    scale: 1.1;
}
/*tretja stran - drugi del - index*/
.tretjastrandrugiindex
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    background-image: url(slike/index/DSC08271-58.JPG);
    background-size: cover;
    background-position-y: -40em;
    background-repeat: no-repeat;
}

.tretjastrandrugiindex .temnoindex
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.tretjastrandrugiindex .temnoindex h1
{
    font-family: Poppins-Bold;
    font-size: 3.5em;
    color: white;
    margin-bottom: 0.25em;
}

.tretjastrandrugiindex .temnoindex p
{
    text-align: center;
    font-size: 1.3em;
    color: white;
    max-width: 60%;
}

.temnoindex p span
{
    font-weight: 900;
    letter-spacing: 0.1em;
    color: #DBBB92;
}

/*cetrta stran - index*/
.cetrtastranindex
{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
}

.cetrtastranindex .text
{
    margin-top: 4em;
    text-align: center;
}

.cetrtastranindex .text h1
{
    font-family: Poppins-Bold;
    font-size: 3em;
    color: #B4B436;
}

.cetrtastranindex .text p
{
    margin-left: auto;
    margin-right: auto;
    font-size: 1.3em;
    max-width: 60%;
    margin-bottom: 5em;
}

.cetrtastranindex .text p span
{
    font-weight: 900;
    letter-spacing: 0.1em;
    color: #DBBB92;
}

.cetrtastranindex .slike
{
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 3em;
    column-gap: 3em;
}

.cetrtastranindex .slike img
{
    width: 30em;
    border-radius: 1em;
    transition: all 1s;
}

.cetrtastranindex .slike .okvir
{
    border-radius: 1em;
    overflow: hidden;
    width: 30em;
    max-height: 19em;
}

.cetrtastranindex .slike img:hover
{
    scale: 1.2;
}

.cetrtastranindex .gumb .gumbvec
{
    margin-top: 3em;
    padding: 1em 2.3em;
    background-color: #B4B436;
    border-radius: 3em;
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    transition: all 1s ease;
    width: fit-content;
}

.cetrtastranindex .gumb .gumbvec span
{
    font-size: 1.2em;
}

.cetrtastranindex .gumb .gumbvec:hover
{
    background-color: #DBBB92;
}

/*prijava na novice - index*/
.cetrti
{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 1s ease;
}

.cetrti .text
{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 2em;
    margin-bottom: 2em;
}

.cetrti i
{
    font-size: 2em;
    color: #B4B436;
}

.cetrti p
{
    font-family: Poppins-Bold;
    font-size: 1.2em;
}

.cetrti .emailform
{
    display: flex;
    all: unset;
    padding: 0.5em 1em;
    border-radius: 2em;
    font-size: 1.3em;
    color: black;
    border: solid 0.01em gray;
    position: relative;
}

.cetrti .emailform input
{
    all: unset;
    font-size: 0.8em;
}

.cetrti .emailform input::placeholder
{
    color: black;
}

.cetrti .emailform button
{
    all: unset;
    color: black;
    background-color: #B4B436;
    padding: 0.7em 0.7em;
    border-radius: 2em;
    cursor: pointer;
    font-size: 0.8em;
    transition: all 1s;
}

.cetrti .emailform button:hover
{
    background-color: #DBBB92;
}

.loading
{
    width: 1em;
    height: 1em;
    border: 2px solid transparent;
    border-top-color: gray;
    border-radius: 50%;
    animation: spin 0.5s linear infinite;
    display: none;
}

@keyframes spin
{
    from
    {
        transform: rotate(0deg);
    }
    to
    {
        transform: rotate(360deg);
    }
}
/*peta stran - drugi del - index*/

footer
{
    display: flex;
    justify-content: center;
    padding: 5em;
    gap: 10em;
}

footer .prvi h2
{
    display: none;
}

footer h2
{
    font-family: Poppins-Bold;
    margin-bottom: 0.75em;
}

footer ul li
{
    list-style: none;
    font-size: 1.2em;
}

footer .tretji ul li a
{
    display: block;
    color: black;
    text-decoration: none;
    transition: all 1s;
}

footer .drugi ul li a
{
    font-size: 1.8em;
    color: #B4B436;
    margin-right: 0.5em;
    transition: all 1s;
}

footer .tretji ul li a:hover
{
    scale: 1.05;
}

footer .drugi ul li a:hover
{
    color: #DBBB92;
}

footer .logo img
{
    width: 5em;
}

/*peta stran - tretji del - index*/

.petastrantretjiindex
{
    display: flex;
    justify-content: center;
    background-color: #B4B436;
    gap: 5em;
    padding: 1em;
    color: white;
}

.petastrantretjiindex a
{
    color: white;
    text-decoration: none;
    transition: all 1s;
}

.petastrantretjiindex a:hover
{
    scale: 1.1;
}

/* O nas html*/

/* Prva stran - O nas */
.zacetnastranostali
{
    height: 35vh;
    
}

.ozadjeonas
{
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 70%;
}

.temnoostali
{
    height: 35vh;
    background-color: rgba(0, 0, 0, 0.6);
}

.nadozadjemostali
{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 10em;
    color: white;
}

.nadozadjemostali h1
{
    font-family: Poppins-Bold;
    font-size: 4em;
}

.nadozadjemostali p
{
    line-height: 1.6;
    margin-top: 1em;
    color: white;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
    font-size: 1.3em;
}

.nadozadjemostali p span
{
    font-weight: 900;
    letter-spacing: 0.1em;
    color: #DBBB92;
}

/* Druga stran - O nas */

.drugastranonas
{
    height: 60vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.drugastranonas .vsebina .text
{
    display: flex;
    flex-direction: column;
    gap: 3em;
    max-width: 40%;
}

.drugastranonas h1
{
    font-family: Poppins-Bold;
    font-size: 1.8em;
}

.drugastranonas h1 span
{
    font-family: Poppins-Bold;
    font-size: 1.8em;
    color: #B4B436;
}

.drugastranonas p
{
    font-size: 1.3em;
}

.drugastranonas h2
{
    margin-top: 4em;
    font-family: Poppins-Bold;
    font-size: 1.3em;
}

.drugastranonas ul li
{
    margin-top: 0.5em;
    list-style: none;
}

.drugastranonas ul li a
{
    display: inline-block;
    color: #B4B436;
    font-size: 2.5em;
    margin-right: 0.5em;
    transition: all 1s;
}

.drugastranonas ul li a:hover
{
    scale: 1.2;
    color: #DBBB92;
}

.drugastranonas .vsebina .slike
{
    display: flex;
    max-height: fit-content;
}

.drugastranonas img
{
    width: 25em;
    border-radius: 2em;
}

.drugastranonas .vsebina .slike .enadve
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 4.5em;
}

.drugastranonas .vsebina .slike .tri
{
    height: 37.5em;
}

/* Tretja stran - O nas */

.tretjastranonas
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tretjastranonas .vsebina
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tretjastranonas .vsebina h1
{
    margin-bottom: -4em;
    font-family: Poppins-Bold;
    font-size: 3em;
    color: #B4B436;
}

.tretjastranonas .vsebina .slike
{
    display: flex;
    gap: 5em;
    margin-top: 6em;
    position: relative;
}

.tretjastranonas .vsebina .slikatext
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tretjastranonas .vsebina .slikatext img
{
    display: block;
    border-radius: 2em;
    width: 35em;
}

.tretjastranonas .vsebina .stevilka
{
    position: absolute;
    top: 1em;
    left: 50%;
    transform: translateX(-50%);
    font-size: 4em;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
    z-index: 999;
}

.tretjastranonas .vsebina .text
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10em;
    gap: 2em;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    border-radius: 0em 2em 2em 2em;
    transition: all 1s;
}

.tretjastranonas .vsebina .text h1
{
    margin: 0;
    font-size: 1.5em;
    color: #B4B436;
    font-size: 2em;
}

.tretjastranonas .vsebina .text p
{
    max-width: 80%;
    margin: 0;
    font-size: 1.2em;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tretjastranonas .vsebina .slikatext:hover .text
{
    height: 100%;
    border-radius: 2em;
}

.tretjastranonas .vsebina .slikatext:hover p
{
    white-space: normal;
}

.graf
{
    height: fit-content;
    padding: 10em 0em;
}

.graf h1
{
    color: #B4B436;
    font-family: Poppins-Bold;
    font-size: 3em;
    text-align: center;
    margin-bottom: 1em;
}

#jajcaGraf
{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100em;
    height: 50em;
}

.cetrtastranonas
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 2em;
    height: 50vh;
    border-radius: 2em;
    width: 90%;
    background-size: cover;
    background-position-y: -20em;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
}

.cetrtastranonas .temnoonas
{
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.6);
}

.cetrtastranonas .temnoonas h1
{
    font-family: Poppins-Bold;
    font-size: 3.5em;
    color: white;
    margin-bottom: 1em;
}

.cetrtastranonas .temnoonas p
{
    text-align: center;
    font-size: 1.3em;
    color: white;
    max-width: 60%;
}

.cetrtastranonas p span
{
    font-weight: 900;
    letter-spacing: 0.1em;
    color: #DBBB92;
}

/* Za telefon O nas*/
@media screen and (max-width: 480px)
{
    .zacetnastranostali, .temnoostali
    {
        height: 50vh;
    }

    .nadozadjemostali
    {
        padding-top: 60em;
    }

    .nadozadjemostali h1
    {
        font-size: 15em;
    }

    .nadozadjemostali p
    {
        font-size: 5em;
        max-width: 80%;
    }

    .drugastranonas .vsebina
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .drugastranonas .vsebina .text
    {
        max-width: 80%;
    }

    .drugastranonas h1
    {
        font-size: 7em;
    }

    .drugastranonas p
    {
        font-size: 5em;
    }

    .drugastranonas h2
    {
        font-size: 6em;
        margin-top: 1em;
    }

    .drugastranonas ul li a
    {
        font-size: 10em;
    }

    .drugastranonas .vsebina .slike
    {
        margin-top: 25em;
        scale: 2.3;
        margin-bottom: 25em;
    }

    .tretjastranonas
    {
        height: 250vh;
    }
    
    .tretjastranonas .vsebina h1
    {
        font-size: 7em;
        margin-bottom: 30em;
        margin-top: -15em;
    }

    .tretjastranonas .vsebina .slike
    {
        flex-direction: column;
        justify-content: center;
        scale: 3.5;
    }

    .graf
    {
        margin-top: -15em;
        margin-bottom: 30em;
        justify-content: center;
    }

    .graf h1
    {
        font-size: 7em;
        margin-bottom: 1em;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .grafmanjsi
    {
        margin-left: auto;
        margin-right: auto;
        max-width: 80%;
        overflow-x: auto;
    }

    #jajcaGraf
    {
        width: 250em;
        height: 150em;
    }

    .cetrtastranonas
    {
        margin-top: -10em;
        margin-bottom: 20em;
        background-position-y: 0em;
        width: 100%;
        border-radius: 0;
    }

    .cetrtastranonas .temnoonas
    {
        border-radius: 0;
    }

    .cetrtastranonas .temnoonas h1
    {
        font-size: 10em;
    }

    .cetrtastranonas .temnoonas p
    {
        font-size: 5em;
        max-width: 80%;
    }
}



/* Prva stran - Kontakt */

.prvastrankontakt
{
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20em;
}

.ozadjekontakt
{
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 70%;
}

.prvastrankontakt .vsebina
{
    z-index: 1;
    position: relative;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: first baseline;
    gap: 1em;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2em;
    border-radius: 2em;
}

.prvastrankontakt .vsebina::after
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 2em;
    z-index: -1;
}

.prvastrankontakt .vsebina .text h1
{
    font-family: Poppins-Bold;
    color: #B4B436;
    font-size: 3em;
}

.prvastrankontakt .vsebina .text p
{
    font-family: Poppins;
    font-size: 1.5em;
    color: white;
}

.prvastrankontakt .vsebina .socialnaomrezja a
{
    font-size: 3em;
    color: white;
    margin-right: 0.5em;
    transition: all 1s;
}

.prvastrankontakt .vsebina .socialnaomrezja a:hover
{
    color: #DBBB92;
}

.prvastrankontakt .vsebina .lokacija
{
    margin-top: 1em;
}

.prvastrankontakt .vsebina .lokacija p
{
    font-size: 1.5em;
    color: white;
}

.prvastrankontakt .vsebina .lokacija .kroglokacija
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.prvastrankontakt .vsebina .lokacija h1
{
    font-family: Poppins-Bold;
    color: #B4B436;
    margin-bottom: 0.5em;
    font-size: 2em;
}

.prvastrankontakt .vsebina .lokacija .kroglokacija .krog
{
    position: relative;
    width: 5em;
    height: 5em;
    border-radius: 100%;
    border: solid 0.2em #B4B436;
    transition: all 1s;
    margin-top: 2em;
}

.prvastrankontakt .vsebina .lokacija .kroglokacija .krog:hover
{
    scale: 1.1;
}

.prvastrankontakt .vsebina .lokacija .kroglokacija .krog .puscica
{
    width: 0;
    height: 0;
    border-left: 0.75em solid transparent;
    border-right: 0.75em solid transparent;
    border-top: 1.25em solid #B4B436;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.prvastrankontakt form
{
    display: flex;
    flex-direction: column;
    height: 50vh;
    gap: 2em;
}

.prvastrankontakt form h1
{
    font-family: Poppins-Bold;
}

.prvastrankontakt form input, .prvastrankontakt form textarea
{
    all: unset;
}

.prvastrankontakt form input
{
    padding: 1em;
    border: solid 0.2em #B4B436;
    border-radius: 0.5em;
    font-size: 1.5em;
}

.prvastrankontakt form input::placeholder
{
    font-size: 1em;
}

.prvastrankontakt form textarea
{
    padding: 1em;
    border: solid 0.2em #B4B436;
    border-radius: 0.5em;
    font-size: 1.5em;
}

.prvastrankontakt form button
{
    position: relative;
    cursor: pointer;
    all: unset;
    padding: 0.75em 1.5em;
    background-color: #B4B436;
    border-radius: 2em;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    font-size: 1.5em;
    text-align: center;
    transition: all 1s ease;
}

.prvastrankontakt form button:hover
{
    cursor: pointer;
    background-color: #DBBB92;
}

/* Kontakt - druga stran */

.drugastrankontakt iframe
{
    width: 100%;
    height: 50vh;
}

/* Za telefon O nas*/
@media screen and (max-width: 480px)
{
    .prvastrankontakt
    {
        flex-direction: column;
        height: 90vh;
    }

    .prvastrankontakt .vsebina
    {
        width: 80%;
        margin-top: 15em;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 80vh;
    }

    .prvastrankontakt .vsebina .text h1
    {
        font-size: 7em;
        margin-bottom: 0.25em;
    }

    .prvastrankontakt .vsebina .text p
    {
        font-size: 5em;
        margin-bottom: 0.25em;
    }

    .prvastrankontakt .vsebina .socialnaomrezja a
    {
        font-size: 8em;
    }

    .prvastrankontakt .vsebina .lokacija
    {
        margin-top: 10em;
    }

    .prvastrankontakt .vsebina .lokacija p
    {
        font-size: 5em;
    }

    .prvastrankontakt .vsebina .lokacija h1
    {
        font-size: 6em;
    }

    .prvastrankontakt .vsebina .lokacija .kroglokacija .krog
    {
        width: 10em;
        height: 10em;
        border: solid 0.5em #B4B436;
    }

    .prvastrankontakt .vsebina .lokacija .kroglokacija .krog .puscica
    {
        border-left: 1.5em solid transparent;
        border-right: 1.5em solid transparent;
        border-top: 2em solid #B4B436;
    }

    .prvastrankontakt form
    {
        padding-top: 20em;
        scale: 1.84;
    }
}
